@page "{handle}"
@model DistributedReddit.Web.Pages.Subreddits.IndexModel
@{
    ViewData["Title"] = Model.Subreddit.Handle;
    ViewData["Nav-collabse"] = "r/" + Model.Subreddit.Handle;
    ViewData["Nav-collabse-img-src"] = $"data:image/jpg;base64, {Model.Subreddit.Avatar.ToBase64()}";
}


<div class="d-flex border border-1 border-dark rounded w-100 align-items-center">
    <img class="ms-2" src="data:image/jpg;base64, @Model.RdbUser.Avatar.ToBase64()" alt="Logo" width="35" height="35">
    <a style="flex-grow: 4;" class="p-2" asp-page="/Posts/Create" asp-route-routedSubredditHandle=@Model.Subreddit.Handle>
        <button type="button" class="btn btn-outline-dark w-100" >Create Post</button>
    </a>
</div>


@foreach (var post in Model.Subreddit.Posts)
{
    <partial name="_PostPartial" model="post"/>
}






@section MainHeader {
    <div class="d-flex">
        <img src="data:image/jpg;base64, @Model.Subreddit.Avatar.ToBase64()" class="rounded-circle me-3" alt="Logo" width="80" height="80">
        <div class="d-flex flex-column me-3">
            <h2 >@Model.Subreddit.Title</h2>
            <p class="text-muted">r/@Model.Subreddit.Handle</p>
        </div>    
    </div>

    <div >
        <form method="POST" class="d-flex align-items-center">
            <input asp-for="Subreddit.Handle" value=@Model.Subreddit.Handle hidden>
            @if(Model.RdbUser.JoinedSubredditHandles.Concat(Model.RdbUser.AdminedSubredditHandles).Contains(Model.Subreddit.Handle))
            {
                <button type="button" class="btn btn-outline-success rounded-lg me-2" style="width: 150px;">Joined</button>
                @* <input type="image"  src="/images/Leave-Icon.svg" alt="Leave" asp-page-handler="Leave" width="30" title="Leave"/> *@
                <button type="submit" class="btn btn-danger" asp-page-handler="Leave">
                    <i class="fa-solid fa-person-walking-arrow-right"></i>
                </button>
            } 
            else
            {
                <button type="submit" class="btn btn-outline-success rounded-lg" asp-page-handler="Join" style="width: 150px;">Join</button>
            } 
        </form>   
    </div>
    
}

@section Aside {
    <div class="d-flex flex-column border border-1 border-dark rounded">
        <div class="bg-primary d-flex p-2" style="height: 50px;">
            <p class="mb-0 d-flex align-items-center text-light">About Community</p>
        </div>


        <p class="p-2" >
            @Model.Subreddit.About
        </p>

        <div class="d-flex align-items-center justify-content-center">
            <img src="/images/Calendar-Icon.png" class="me-3 ms-2" alt="Logo" width="15" height="15">
            <p class="d-flex align-items-center mb-0 text-muted">Created @Model.Subreddit.CreatedAt.ToDateTime().ToString("dd/MM/yyyy")</p>
        </div>
        <div class="d-flex justify-content-center mt-2 mb-2">
            <p class="d-flex align-items-center mb-0">
                @{var numU = Model.Subreddit.AdminsHandles.Count+@Model.Subreddit.UsersHandles.Count;} 
                @numU members
            </p>
        </div>
        <div class="d-flex justify-content-center border border-dark border-bottom-0 border-left-0 border-right-0 p-2">
            <a class="btn btn-primary" style="width: 200px;" asp-page="/Posts/Create" asp-route-routedSubredditHandle=@Model.Subreddit.Handle>Create Post</a>
        </div>
    </div>

    <div class="d-flex flex-column border border-1 border-dark rounded" style="margin-top: 10px;">
        <div class="bg-primary d-flex p-2" style="height: 50px;">
            <p class="mb-0 d-flex align-items-center text-light">Rules</p>
        </div>
        <p class="p-2" >
            @Model.Subreddit.Rules
        </p>
    </div>
    
}

@section NavCollabse {
    <partial name="_NavCollabsePartial" model="Model.RdbUser"/>
}


<div class="card mt-5 w-100" style="width: 18rem;">
  <img class="card-img-top" src="#" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>